<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="auth-container">
    <div class="breadcrumb">
      Início &gt; <strong>Laboratório de Germinares</strong>
    </div>
    <h1>Laboratório de Germinares</h1>
    <p>Realize o login! Caso seja seu primeiro acesso, faça o cadastro.</p>

    <form>
      <input type="email" placeholder="E-mail" name="email" required />
      <input type="password" placeholder="Senha" name="password" required />

      <div class="button-group">
        <button type="button" class="btn primary" (click)="fazerCadastro()">
          <img src="../../assets/iconCadastro.png" alt=""> Cadastrar
        </button>
        <button type="submit" class="btn secondary" (click)="fazerLogin()">
          <img src="../../assets/iconLogin.png" alt="">Fazer login
        </button>
      </div>
    </form>

    <div *ngIf="naoLogado()"></div>

    <!-- Login reprovado -->
    <div class="card">
      <div class="header">
          <div class="icon">
            <img src="/public/assets/boneca.png" alt="">
          </div>
      </div>
      <div class="content">
          <div class="title">Você não está cadastrado no sistema</div>
          <div class="description">Tente realizar o cadastro</div>
      </div>
      <div class="footer">
          <button class="close-button">Fechar</button>
      </div>
  </div>
  

  </div>
</div>
