<app-header></app-header> 
<app-sidebar></app-sidebar>   
<div class="main-content">
  <div class="auth-container">
    <div class="container">
      <div class="breadcrumb">
        Início &gt; 
        <strong>Laboratório de Germinares</strong>
      </div>

      <h1>Cadastrar Aluno</h1>

      <div class="steps-navigation">
        <div class="step">
          <span class="step-number">1</span>
          <strong>Informações Básicas</strong>
        </div>
        <div class="connector"></div>
        <div class="step active">
          <span class="step-number">2</span>
          <strong>Notas</strong>
        </div>
      </div>

      </div>

      <form>
        <input type="number" placeholder="Linguagens"name="email" [(ngModel)]= "linguagens" required />
        <input type="number" placeholder="Exatas"name="email" required />
        <input type="number" placeholder="Ciências"name="email" required />
        
        <div class="button-group">
          <button  class="btn primary" (click)="descartar()">Descartar</button>
          <button class="btn secondary" (submit)="cadastrar($event)">
            <img src="../../assets/iconCadastro.png" alt="" /> 
            Cadastrar
          </button>
        </div>
      </form>

        


    </div>
  </div>

